extends layout

block content
  h1= title
  p I am little lazy some times, in the covid time i stayed in my room for so long time by doing my work when ever I am hungry I use to tell to my mom to bring the food
